<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Clients</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <style>
    table, th, td {
    	  border: 1px solid black;
    	}
    </style>

</head>
<body>
    <p>Lista de produtos adicionados ao carrinho</p>
    <p th:text="${client.products}" />

    <p>Lista de produtos</p>
    <table>
        <tr th:each="products: ${client.products}">
            <td th:text="'ID: ' + ${product.id}"/>
            <td th:text="'Nome: ' + ${product.productName}"/>
            <td th:text="'Preço: ' + ${product.price}"/>
            <td th:text="'Quantidade: ' + ${product.quantity}"/>
            <td th:text="'Descrição: ' + ${product.description}"/>
            <td th:text="'Categoria: ' + ${product.category}"/>
        </tr>
    </table>
    <!--
            RODAPE
    -->
    <footer class="rodape">
        <a href="/about"><p class="about_page">About this page</p></a>
    </footer>
</body>
</html>